# NETFLIX MOVIE RECOMMENDATION SYSTEM USING ASSOCIATION RULE BASED LEARNING

**Importing Libraries**

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

**Importing Dataset**

In [3]:
dataset = pd.read_csv("Netflix Movie Recommendation.csv", header = None)
dataset.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,The Lord of the rings,Cinema Paradiso,Se7en,Avengers: Infinity War,The Shining,High and Low,Terminator 2: Judgment Day,Toy Story,City of God,Witness for the Prosecution,12 Angry Men,Whiplash,Black Panther,Hamilton,The Dark Knight,Once Upon a Time in the West,The Great Dictator,Back to the Future,Aliens,Comedy nights with Kapil
1,The Shawshank Redemption,Fight Club,Pulp Fiction,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,The Godfather,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,The Godfather: Part II,Se7en,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,The Dark Knight,The Intouchables,One Flew Over the Cuckoo's Nest,whole wheat Star Wars: Episode V - The Empire ...,Whiplash,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7466 entries, 0 to 7465
Data columns (total 20 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       7466 non-null   object
 1   1       5733 non-null   object
 2   2       4387 non-null   object
 3   3       3343 non-null   object
 4   4       2527 non-null   object
 5   5       1862 non-null   object
 6   6       1367 non-null   object
 7   7       979 non-null    object
 8   8       654 non-null    object
 9   9       395 non-null    object
 10  10      256 non-null    object
 11  11      154 non-null    object
 12  12      87 non-null     object
 13  13      47 non-null     object
 14  14      25 non-null     object
 15  15      8 non-null      object
 16  16      4 non-null      object
 17  17      4 non-null      object
 18  18      3 non-null      object
 19  19      1 non-null      object
dtypes: object(20)
memory usage: 1.1+ MB

In [5]:
dataset.shape

(7466, 20)

In [6]:
transaction = []

for i in range(0,7466):
    transaction.append([str(dataset.values[i,j]) for j in range(0,20)])

**Apriori training on dataset**

In [7]:
from apyori import apriori
movie_intelligence = apriori(transactions = transaction, min_support = 0.002, min_confidence = 0.2, min_lift = 3, min_length = 2, max_length = 2)

In [8]:
results = list(movie_intelligence) #raw data

In [9]:
#Organizing result

def inspect(results):

    movie1         = [tuple(result[2][0][0])[0] for result in results]
    movie2         = [tuple(result[2][0][1])[0] for result in results]
    supports    = [result[1] for result in results]

    return list(zip(movie1, movie2, supports))

DataFrame_intelligence = pd.DataFrame(inspect(results), columns = ['movie1', 'movie2', 'Support'])

In [10]:
DataFrame_intelligence

,movie1,movie2,Support
0,3 Idiots,The Pianist,0.002143
1,American History X,"The Good, the Bad and the Ugly",0.002009
2,Captain America,Black Panther,0.003349
3,Game of thrones,Comedy nights with Kapil,0.003215
4,Kanan Gill Comedy,Comedy nights with Kapil,0.008036
5,extra dark The Silence of the Lambs,Comedy nights with Kapil,0.002679
6,Game of thrones,Prision Break,0.004554
7,Harry Potter 1,Harry Potter 2,0.005759
8,Harry Potter 1,The Lord of the rings,0.005090
9,crimes of grindelwald,Harry Potter 2,0.005759
10,Inglourious Basterds,The Godfather: Part II,0.002545
11,Interstellar,inception,0.015939
12,extra dark The Silence of the Lambs,Prision Break,0.002813
13,The Wolf of Wall Street,inception,0.005358

In [11]:
DataFrame_intelligence.nlargest(n = 10, columns = 'Support')

                                 movie1                    movie2   Support
11                         Interstellar                 inception  0.015939
4                     Kanan Gill Comedy  Comedy nights with Kapil  0.008036
7                        Harry Potter 1            Harry Potter 2  0.005759
9                 crimes of grindelwald            Harry Potter 2  0.005759
13              The Wolf of Wall Street                 inception  0.005358
8                        Harry Potter 1     The Lord of the rings  0.005090
6                       Game of thrones             Prision Break  0.004554
2                       Captain America             Black Panther  0.003349
3                       Game of thrones  Comedy nights with Kapil  0.003215
12  extra dark The Silence of the Lambs             Prision Break  0.002813